agate==1.6.3
asn1crypto==1.5.1
attrs==21.4.0
Babel==2.9.1
boto3==1.21.36
botocore==1.24.36
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
cryptography==3.4.8
dbt-bigquery==1.0.0
dbt-core==1.0.4
dbt-extractor==0.4.1
dbt-postgres==1.0.4
dbt-redshift==1.0.0
dbt-snowflake==1.0.0
future==0.18.2
google-api-core==2.7.1
google-auth==2.6.3
google-cloud-bigquery==2.34.3
google-cloud-core==2.2.3
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
grpcio==1.44.0
grpcio-status==1.44.0
hologram==0.0.14
idna==3.3
importlib-metadata==4.11.3
isodate==0.6.1
jeepney==0.8.0
Jinja2==2.11.3
jmespath==1.0.0
jsonschema==3.1.1
keyring==23.5.0
leather==0.3.4
Logbook==1.5.3
MarkupSafe==2.0.1
mashumaro==2.9
minimal-snowplow-tracker==0.0.2
msgpack==1.0.3
networkx==2.7.1
oscrypto==1.3.0
packaging==21.3
parsedatetime==2.4
proto-plus==1.20.3
protobuf==3.20.0
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.14.1
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-slugify==6.1.1
pytimeparse==1.1.8
pytz==2022.1
PyYAML==6.0
requests==2.27.1
rsa==4.8
s3transfer==0.5.2
SecretStorage==3.3.1
six==1.16.0
snowflake-connector-python==2.7.6
sqlparse==0.4.2
text-unidecode==1.3
typing-extensions==3.10.0.2
urllib3==1.26.9
Werkzeug==2.1.1
zipp==3.8.0
